/* :root {


} */

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  a {
    font-size: 2rem;
  }
}

p,
li {
  font-size: 2rem;
}
/*********************/
/* Utilizables */
/*********************/

.contenedor {
  width: min(95%, 130rem);
}

.contenedor,
.contenedor-sm {
  margin: 0 auto;
}
/*********************/
/* Navegacion Header
/*********************/
.navegacion {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navegacion {
    height: 7rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion__logo {
  height: 20rem;
}
@media (min-width: 768px) {
  .navegacion__logo {
    height: 100%;
  }
}
.logo {
  height: 100%;
}
@media (min-width: 768px) {
  .logo {
    height: 100%;
  }
}

.navegacion__enlaces {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
}
.navegacion__enlaces a {
  font-size: 2.5rem;
  padding: 2rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  .navegacion__enlaces {
    flex-direction: row;
    justify-content: space-between;
  }
  .navegacion__enlaces a {
    margin: 0 5rem;
    font-size: 2rem;
  }
}

/*********************/
/* HERO */
/*********************/
.hero {
  margin-top: 5rem;
  border-bottom: solid 2px #e3e3e3;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .hero {
    margin-top: 8rem;
  }
}

.hero__presentacion h1 {
  font-size: 3rem;
}
.hero__presentacion span {
  font-size: 5rem;
  text-transform: uppercase;
  display: block;
}

@media (min-width: 768px) {
  .hero__presentacion h1 span {
    font-size: 6rem;
  }
}

/*- Hero logos github | linkedin | instagram */
.hero__contactos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .hero__contactos {
    justify-content: start;
  }
}

.hero__contactos a img {
  height: 5rem;
}

/*- Hero acciones */
.hero__acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero__acciones {
    gap: 2rem;
  }
}
.hero__descargar {
  padding: 1.5rem;
  background-color: rgb(22, 179, 179);
  border-radius: 0.5rem;
}
.hero__proyectos {
  border-bottom: solid 2px rgb(22, 179, 179);
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .hero__acciones {
    justify-content: start;
  }
}

/*******************/
/* * Sobre mí */
/*********************/
.perfil {
  margin-top: 3rem;
  border-bottom: 2px solid #e3e3e3;
}
@media (min-width: 768px) {
  .perfil__informacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/* - titulo - REUTILIZABLE */
.titulo {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 100;
  color: #a79696;
}
.titulo::before {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: aqua;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .titulo {
    justify-content: center;
  }
  .titulo::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: aqua;
    margin-top: 1rem;
  }
}
.titulo__secundario {
  font-size: 3rem;
  margin-top: 0;

  @media (min-width: 768px) {
    .titulo__secundario {
      text-align: start;
    }
  }
}

/* - Perfil texto */

@media (min-width: 768px) {
  .perfil__texto {
    border-right: 1px solid #e3e3e3;
    padding: 0 W2rem;
  }

  .perfil__texto p {
    line-height: 1.5;
  }
}

.perfil__texto blockquote {
  background-color: rgba(53, 148, 148, 0.264);
  padding: 2rem;
  margin: 0;
  color: #6b6262;
  border-left: 2px solid rgb(53, 148, 148);
}
@media (min-width: 768px) {
  .perfil__texto blockquote {
    margin-right: 2rem;
  }
}

/* - Informacion extra Perfil*/
.perfil__extra {
  width: 100%;
  margin: 2rem 0;
  @media (min-width: 768px) {
    margin: 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #e3e3e3;
  gap: 2rem;
  margin: 0 0 2rem 0;
}
.info:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .info {
    padding: 2rem;
    flex-direction: row;
    align-items: start;
    gap: unset;
  }
}

.info__imagen {
  background-color: black;
  padding: 3rem;
  border-radius: 2rem;
  width: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__imagen img {
  justify-items: start;
  filter: invert(100%);
}

@media (min-width: 768px) {
  .info__imagen {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .info__imagen img {
    width: 3.5rem;
  }
}

.info__texto {
  padding: 0 2rem;
  text-align: center;
}
.info__texto ul {
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .info__texto {
    text-align: start;
  }
}
.info__texto h3 {
  margin: 0;
  font-size: 2.5rem;
}
.info__texto h3 span {
  font-size: 2.8rem;
}

@media (min-width: 768px) {
  .info__texto h3 span {
    display: block;
    font-size: 2.2rem;
  }
}

/***********************/
/* * Tecnologias */
/**********************/

.tecnologia-grid {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
.tecnologias__titulo,
.tecnologias__titulo--texto {
  padding: 2rem;
}
.svg {
  width: 5rem;
}

.tecnologias__stack {
  grid-column: 1/ 3;
  grid-row: 2/ 3;
  display: grid;
  gap: 5rem;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #e3e3e3;
  margin: 1rem 0;
  @media (min-width: 768px) {
    margin: 1rem;
    padding: 1rem;
  }
}
.stack__titulo {
  display: flex;
  gap: 1rem;
}
.stack__titulo--texto h3,
p {
  margin: 0.5rem;
}

.stack__iconos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.icono {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.icono__imagen {
  width: 5rem;
  height: 100%;
}

.tecnologias__extras {
  margin: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.extras {
  border-bottom: 1px solid #e3e3e3;
  @media (min-width: 1000px) {
    border-right: 1px solid #e3e3e3;
    border-bottom: none;
  }
}
.extras:last-child {
  border: none;
}
.extras__titulos {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.extras__titulos p,
h3 {
  margin: 0;
}
.extras__contenido li {
  margin: 0.5rem;
  font-size: 1.5rem;
}
.extras__contenido span {
  font-weight: bold;
}

.tecnologias-aprendiendo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.tecnologias-aprendiendo span {
  padding: 0.5rem 1.5rem;
  border: 1px solid #159b9b;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  color: #176b6b;
  background: #f5ffff;
}
